<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Новая книга</title>
</head>
<body>
<form th:method="POST" th:action="@{/books}" th:object="${book}">
    <label for="bookName">Введите имя книги:</label>
    <input type="text" th:field="*{bookName}" id="bookName"/>
    <div  style="color:red" th:if="${#fields.hasErrors('bookName')}" th:errors="*{bookName}">book name:</div>
    <br/>
    <label for="bookAuthor">Введите автора:</label>
    <input type="text" th:field="*{bookAuthor}" id="bookAuthor"/>
    <div  style="color:red" th:if="${#fields.hasErrors('bookAuthor')}" th:errors="*{bookAuthor}">book author:</div>
    <br/>
    <label for="bookYear">Введите год выпуска книги:</label>
    <input type="text" th:field="*{bookYear}" id="bookYear"/>
    <div  style="color:red" th:if="${#fields.hasErrors('bookYear')}" th:errors="*{bookYear}">book year:</div>
    <br/>
    <button th:type="submit">Добавить книгу</button>
</form>
</body>