<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Новый человек</title>
</head>
<body>
<form th:method="POST" th:action="@{/people}" th:object="${person}">
    <label for="personFio">Вверите ФИО: </label>
    <input type="text" th:field="*{personFio}" id="personFio"/>
    <div  style="color:red" th:if="${#fields.hasErrors('personFio')}" th:errors="*{personFio}">Fio error:</div>
    <br/>
    <label for="personYear">Введите год рождения: </label>
    <input type="text" th:field="*{personYear}" id="personYear"/>
    <div  style="color:red" th:if="${#fields.hasErrors('personYear')}" th:errors="*{personYear}">Year error:</div>
    <br/>
    <button th:type="submit">Добавить человека</button>
</form>
</body>